<!doctype html>
<html>
    <head>
        <title>Baseball</title>
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <hr>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                <hr>
                <a href="{{ url_for('register') }}">Register</a>
            {% else %}
                <a href="{{ url_for('request') }}">Request</a>
                <hr>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>